<% if @ex.nil? != true %>
  <p><%= escape_html @ex %></p>
<% end %>

<% if @forecasts.nil? != true %>
  <div>
    <p><%= escape_html @title %></p>
    <p>予報発表日時:<%= escape_html @publicTime %></p>
    <p><%= escape_html @description %></p>

    <% @forecasts.each do |forecast| %>
      <p><%= escape_html "#{forecast['dateLabel']}:" %>
      <%= escape_html forecast['telop'] %></p>
      <img src="<%= escape_html forecast['image']['url'] %>" alt="">
    <% end %>
  </div>
<% end %>